/* CSS Document */
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar ul {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.kiosk_pic{
	width: 100%;
}

.partner_pic {
	width: 50%;
	height: 50%;
	min-height: 150px;
	min-width: 150px;
	max-height:300px;
	max-width:300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#partner {
	background-image: url();
}

.horiz-logo {
	height: 100%;
	width: 100%;
	min-height: 10px;
	min-width: 90px;
}

.fyx-item:hover {
	color: #73cde0;
}

.fyx-item {
	font-weight: bold;
}

.partner-nav-img {
	height: 20px;
	min-height: 10px;
	min-width: 10px;
	vertical-align:text-bottom;
}

#partner-nav {
	color: #E8416F;
}

#partner-nav:hover {
	color: #73cde0;
}
